blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    font-weight: bold;
    z-index: 2;
    color: #fff;
    background-color: #FF0D0A;
    border-color: #FF0D0A;
}

a:link {
    color: #FF0D0A;
}

a:link {
    color: #FF0D0A;
}

/* visited link 
h1.title {
  color: #FF0D0A;
}
a:visited {
    color: green;
}
*/

/* mouse over link 
a:hover {
    color: green;
}
*/
/* selected link 
a:active {
    color: blue;
}
*/